
@font-face {
    font-family: 'fontLv';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/Eczar.woff') format('woff');
}



html, body {
    font-family: fontLv !important;
    font-size: 120% !important;    
}
.logoBottom {
    font-size: 16px;
}

 