﻿<!DOCTYPE html>
<html lang='@Document.Get("lang")'>
<head>
    <meta charset="UTF-8">
    <title>Shayana Festival 2018</title>

    <!-- Responsive Meta Tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- main stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/jquery.fancybox.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hyperform/0.9.5/hyperform.min.css">
    
    <!-- responsive stylesheet -->
    @*<link rel="stylesheet" href="/css/min.css">*@
    @if ((string) Document.Get ("lang")=="lv")
    {
        <link rel="stylesheet" href="/css/lv/style.css">
    }

</head>
<body>

<!-- .preloader -->
@*<div class="preloader"></div>*@
<!-- /.preloader -->
<!-- #header -->
    
<header id="header">
    <div class="container">
        <div class="row">
            <!-- .logo -->
            
            <div class="logo">
                <div class="">
                    <a href="#banner">
                        <div class="smallLogo pull-left" style="cursor: pointer;"></div>
                    </a>
                </div>
                <div class="pull-left logoText hidden-xs hidden-sm ">
                    <span class="logoTop  ">Shayana</span><br/><span class="logoBottom">@Model["Motto"].ToString()</span>
                </div>
            </div>
            <div class="lsWrap">
                <div class="langSwitcher pull-right">
                    <a href="/">EN</a> | <a href="/ru">RU</a>             
                           | <a href="/lv">LV</a>
                </div>
            </div>
            <nav class=" mainmenu-container">
                
                <button class="nav-toggler"><i class="fa fa-bars"></i></button>
                <ul class="mainmenu clearfix">
                    <li class="nav-closer">
                        <i class="fa fa-close"></i>
                    </li>

                    @{
                        var lang = (string) Document.Get ("lang");
                        var sections = Documents.ToLookup<string> ("lang") [lang]
                            .WhereContainsKey ("weight")
                            .OrderBy (x => x.Get<int> ("weight"));

                    }
                    
                    

                    @foreach (var p in sections.Where(_=>_.Get("menu-title")!=null))
                    {
                        <li class="scrollToLink ">
                            <a href="#@p["SourceFileBase"]">@p["menu-title"]</a>
                        </li>
                    }

                </ul>

            </nav>
            
            <!-- /.mainmenu-container -->
        </div>
    </div>
</header>
<!-- /#header -->
<!-- #banner -->
<!-- #banner -->
<section id="banner">
    
    <div class="banner-container">
        <div class="banner">
            <ul>



                <li data-transition="fade"
                    data-slotamount="7"
                    class="slider-1 text-center gradient-overlay">
                    <div class="col-sm-12 col-xs-12 logoPadder"></div>
                    <img src="/images/logo.png"
                         alt="slider image">
                    <div class="caption sfb tp-resizeme text-center"
                         data-x="0"
                         data-y="220"
                         data-speed="700"
                         data-start="1000"
                         data-easing="easeOutBack">

                        @* <div class="date"> *@
                        @*     25/05/2018 18:00 *@
                        @* </div> *@
                    </div>


                    <div class="caption sfb tp-resizeme"
                         data-x="0"
                         data-y="290"
                         data-speed="700"
                         data-start="1500"
                         data-easing="easeOutBack">

                        <h1>Shayana</h1>
                       
                    </div>
                    <div class="caption sfb tp-resizeme input-box"
                         data-x="0"
                         data-y="370"
                         data-speed="700"
                         data-start="2200"
                         data-easing="easeOutBack">
                        <div class="logoTextSmall visible-sm visible-xs">
                            <span class="logoBottom">@Model["Motto"].ToString()</span>
                        </div>
                        <h2>@Model["SeeYou"].ToString()</h2>
                        @* <ul class="count-down"></ul> *@
                        <div class="stayTuned">
                            <h2><a href="https://www.facebook.com/shayanafestival/?fref=ts">@Model["StayTunedText"].ToString()</a>
                            </h2>
                        </div>
                    </div>
              
                </li>
             

            </ul>
        </div>
    </div>
</section> <!-- /#banner -->
<a id="top" class="hidden"></a>
 
  
<main>
    @{
        
        foreach (var s in sections)
        {
            @Html.Raw(s["Content"].ToString());
        }
     }
    @RenderBody()
</main>
<section id="bottom-bar">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>
                    <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
                        <img src="/images/by-nd.svg"  alt="Creative Commons logo" /></a> 2017&nbsp;<a href="index.html">Shayana Festival</a>, <a style="text-decoration: underline !important;" href="https://bitbucket.org/Kugelevich/shayana.lv/src">source code</a>
                </p>
                <p>Hosted by <a href="https://netlify.com">Netlify</a> with open-source plan</p>
            </div>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hyperform/0.9.5/hyperform.min.js"></script>
<script async src="/js/custom.js"></script>

</body>
</html>