﻿@using System.Linq
<!-- #gallery -->
@{
    var sec = Model.Get("SourceFileBase").ToString();
    var multi = (string[])Model.Get("multi");
}
<section id="@sec" class="mdSection">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h1></h1>
                    <h1>@Model.Get("title")</h1>
                    <h2>@Model.Get("subtitle")</h2>
                    @RenderBody()
                </div>
            </div>
        </div>
        <div class="row gallery-image">
            @{
                //var photos = Documents["Gallery"].Where (_ => _ ["SourceFilePath"].ToString ().Contains (sec)).OrderBy (_ => _ ["SourceFilePath"].ToString ()).ToList ();
                //var galleries = new[] {photos};
                var isMulti = multi != null && multi.Any();
                if (multi == null) {
                    multi = new string [] { sec };
                }

                var galleries = multi.Select (folder => new {
                    folder,
                    photos =
                     Documents ["Gallery"].Where (_ => _ ["SourceFilePath"].ToString ().Contains (folder) && _ ["SourceFilePath"].ToString ().Contains (sec)).OrderBy (_ => _ ["SourceFilePath"].ToString ()).ToList ()
                }
                   ).ToList ();


                foreach (var gallery in galleries) {
                    foreach (var photo in gallery.photos) {
                        var path = photo ["SourceFileName"].ToString ();
                        var hidden = isMulti && photo != gallery.photos.First() ? "hidden" : "";
                        var album = "";
                        if (string.IsNullOrEmpty (hidden)) {
                            album = @gallery.folder;
                        }
                        <div class="@hidden fancyWrap">
                            @if (isMulti)
                            {
                                
                                <a class="fancybox" href="/images/@sec/@gallery.folder/@path" rel="@gallery.folder" title="@album">
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                        <h4 style="text-align: center !important; margin-top: 40px;">@album (@gallery.photos.Count())</h4> 
                                        <img data-src="/images/@sec/@gallery.folder/@path" alt="@album" title="@album">
                                    </div>
                                </a>
                            }
                            else
                            {

                                <a class="fancybox" href="/images/@sec/@path" rel="@sec">
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <img src="/images/@sec/@path">
                                    </div>
                                </a>
                            }

                        </div>
                    }
                }
            }
            @*<a class="fancybox" href="/images/@Model.Get("SourceFileBase")/1.jpg">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <img src="/images/@Model.Get("SourceFileBase")/1.jpg" alt="">
                </div>
            </a>
            <a class="fancybox" href="/images/@Model.Get("SourceFileBase")/2.jpg">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <img src="/images/@Model.Get("SourceFileBase")/2.jpg" alt="">
                </div>
            </a>
            <a class="fancybox" href="/images/@Model.Get("SourceFileBase")/5.jpg">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <img src="/images/@Model.Get("SourceFileBase")/5.jpg" alt="">
                </div>
            </a>


            <a class="fancybox" href="/images/@Model.Get("SourceFileBase")/3.jpg">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <img src="/images/@Model.Get("SourceFileBase")/3.jpg" alt="">
                </div>
            </a>*@
            <!--<a class="fancybox" href="/images/JimmyBubble/4.jpg">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <img src="/images/JimmyBubble/4.jpg" alt="">
                </div>
            </a>-->


            <!--<a class="fancybox" href="img/gallery/2.png">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <img src="img/gallery/2.png" alt="">
                </div>
            </a>
            <a class="fancybox" href="img/gallery/3.png">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <img src="img/gallery/3.png" alt="">
                </div>
            </a>
            <a class="fancybox" href="img/gallery/4.png">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <img src="img/gallery/4.png" alt="">
                </div>
            </a>
            <a class="fancybox" href="img/gallery/5.png">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <img src="img/gallery/5.png" alt="">
                </div>
            </a>
            <a class="fancybox" href="img/gallery/6.png">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <img src="img/gallery/6.png" alt="">
                </div>
            </a>
            <a class="fancybox" href="img/gallery/7.png">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <img src="img/gallery/7.png" alt="">
                </div>
            </a>
            <a class="fancybox" href="img/gallery/8.png">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <img src="img/gallery/8.png" alt="">
                </div>
            </a>-->
        </div>
    </div>
</section>