
<section id="information-bar">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <ul>
                    <li class="scrollToLink"><a href="#place"><span class="img-holder"><img src="/img/icons/1.png" alt=""></span></a></li>
                    <li class="scrollToLink"><a href="#place"><span>@Html.Raw(Model.Get("part1"))</span></a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <ul>
                    <li class="scrollToLink"><a href="#lineup"><span class="img-holder"><img src="/img/icons/3.png" alt=""></span></a></li>
                    <li class="scrollToLink"><a href="#lineup"><span>@Html.Raw(Model.Get("part2"))</span></a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <ul>


                    <li class="scrollToLink"><a href="#jimmy"><span class="img-holder"><img src="/img/icons/2.png" alt=""></span></a></li>
                    <li class="scrollToLink"><a href="#jimmy"><span>@Html.Raw(Model.Get("part3"))</span></a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <ul>
                    <li><span class="img-holder"><img src="/img/icons/4.png" alt=""></span></li>
                    <li><span>@Html.Raw(Model.Get("part4"))</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>
@RenderBody()