<section id="lineup" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="section-title text-center">
                    <h1></h1>
                    <h1>@Model.Get("title")</h1>
                    <p>@Model.Get("subtitle")</p>
                </div>
            </div>
            @*<div class="col-lg-5 col-md-5 col-sm-5">
                <form action="#" class="pull-right">
                    <input type="text" placeholder="Search Event"> <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>*@
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="tab-title-wrap">
                    <ul class="clearfix">
                        @*<li class="filter active" data-filter="all"><span>All days</span></li>*@
                        <li class="filter active" data-filter=".MF1"><h3><span>Mystic Friday </span></h3></li>
                        <li class="filter" data-filter=".EF1"><h3><span>Energy Friday</span></h3></li>
                        <li class="filter" data-filter=".MF2"><h3><span>Mystic Saturday</span> </h3></li>
                        <li class="filter" data-filter=".EF2"><h3><span>Energy Saturday</span> </h3></li>
                        <li class="filter" data-filter=".EOL"><h3><span>EOL (Sunday)</span> </h3></li>
                    </ul>
                </div>
                <div class="tab-content-wrap row">
                    @{
                        var perfs = Documents["Lineup"].ToList();
                       
                        foreach (var perf in perfs)
                        {
                            @Html.Raw(@perf["Content"]);
                        }
                        
                        //ViewData ["PostListDocuments"] = posts.Take (6);

                    }
                    @RenderBody()
                </div>
                <div class="tab-title-wrap">
                    <ul class="clearfix">
                        @*<li class="filter active" data-filter="all"><span>All days</span></li>*@
                        <li class="filter active" data-filter=".MF1"><h3><span>Mystic Friday </span></h3></li>
                        <li class="filter" data-filter=".EF1"><h3><span>Energy Friday</span></h3></li>
                        <li class="filter" data-filter=".MF2"><h3><span>Mystic Saturday</span> </h3></li>
                        <li class="filter" data-filter=".EF2"><h3><span>Energy Saturday</span> </h3></li>
                        <li class="filter" data-filter=".EOL"><h3><span>EOL</span> </h3></li>
                    </ul>
                </div>  
            </div> 
        </div>
    </div>
</section>
<div></div>