<div class="col-lg-3 col-md-4 col-sm-6 mix @Model.Get("DayScene") hvr-float-shadow wow fadeIn">
    
    <a href="@Model.Get("Url")">
        <div class="img-holder"><img src='@("/images/lineup/" + Model.Get("Pic") + ".jpg")' alt="@Model.Get("Name") photo">
        </div></a>
    <div class="content-wrap">
        @*<img src="img/lineup/author.png" alt="" class="author-img">*@
        <br/>
        <div class="meta">
            <ul>
                <li><span><i class="fa fa-clock-o"></i>@Model.Get("DateTime")</span></li>
                <li><span><i class="fa fa-map-marker"></i>@Model.Get("Country")</span></li>
            </ul>
        </div>

        @*<a class="read-more" href="#">read more<i class="fa fa-angle-right"></i></a>*@
        <div style="margin-top: 10px; height: 100px;">
            <h4>@Model.Get("Name")</h4>
            <p>@RenderBody()</p>
        </div>
    </div>
</div>