@*@{
	Layout = @"~/_layouts/_layout.cshtml";
	
	var date = Model.Get<DateTime>("date");
	
	Func<IDocument, object> getTags = (doc) =>
	{
		if (!doc.ContainsKey("tags"))
			return null;
			
		var tags = doc.Get<string[]>("tags");
		var items = new List<string>();

		foreach (var tag in tags)
		{
			items.Add(string.Format("<a href=\"/tag/{1}/\" rel=\"tag\">{0}</a>", tag, tag.ToLowerInvariant().Replace(' ', '-')));
		}

		return Html.Raw(string.Join(", ", items));
	};
}

<div>
	<article>
		<header>
			<h1>@Html.Raw(Model.String("title"))</h1>
			<p class="date"><span>Posted on <time datetime="@date.ToString("yyyy-MM-ddTHH:mm")">@date.ToString("dd/MM/yyyy")</time></span></p>
		</header>
		@RenderBody()
	</article>
	<aside>
		<p class="tags"><span>Tags:</span> @getTags(Model)</p>
	</aside>
	@Html.Partial("~/_layouts/disqusComments.cshtml")
</div>*@