<section id="@Model.Get("SourceFileBase")" class="gradient-overlay mdSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</section>