<h4 class='ticketOrderSuccess' style='display:none'>Your order has been submitted successully. We will contact you soon
    with details.</h4>
<h4 class='ticketOrderError' style='display:none'>Sorry, failed to submit your order, please write us at
    pspmagic88@gmail.com to order ticket or try again.</h4>

<form name="ticket" method="POST" action="javascript:OrderTicket()">
    <div class='row'`>
        <div class="col-md-offset-4 col-md-4">
            <div class="row">
                <div class='col-md-7'>
                    <label for="FirstName" class='pull-left'>  Vārds </label>
                </div>
                <div class='col-md-5'>
                    <input id="FirstName" class='pull-right' name="FirstName" type='text' required/>
                </div>
            </div>
            <div class="row">
                <div class='col-md-7'>
                    <label for="LastName" class='pull-left'> Uzvārds </label>
                </div>
                <div class='col-md-5'>
                    <input id="LastName" class='pull-right' name="LastName" type='text' required/>
                </div>
            </div>
            <div class="row">
                <div class='col-md-7'>
                    <label for="Email" class='pull-left'>E-pasts </label>
                </div>
                <div class='col-md-5'>
                    <input id="Email" class='pull-right' name="Email" type='email' required/>
                </div>
            </div>
            <div class="row">
                <div class='col-md-7'>
                    <label for="TicketCount" class='pull-left'>Biļešu skaits</label>
                </div>
                <div class='col-md-5'>
                    <select id="TicketCount" name="TicketCount" required class="pull-right">
                        <option selected>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select>
                </div>
            </div>
            <div class="row groupTicket">
                <div class='col-md-7'>
                    <label for="GroupTicket" class='pull-left'>   Grupas biļete <br/>(50€ par četrām biļetēm)</label>
                </div>
                <div class='col-md-5'>
                    <div class="pull-right">
                        <input id="GroupTicket"  style="text-align: right;width: 30px;" name="GroupTicket" class="pull-right" type='checkbox'/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class='col-md-7 col-md-offset-5'>
                    <div class="pull-right">
                        <b>Kopā: <span id="ticketPrice"></span>€</b>
                    </div>
                </div>
            </div>
            <div class="row submitRow">
                <div class='col-md-7 col-md-offset-5'>
                    <input type='submit' value='Pasūtīt biļeti' class="pull-right" id="orderTicket"/>
                </div>
            </div>
        </div>
    </div>
</form>                                                                                                                                                                                                          